
<div class="container">
    <div class="row py-5">
        <div class="col-md-4 d-flex align-items-center">
            <div>
                <div class="brdr w-25 mb-4"> </div>
                <h2>Trending Movies to Watch<br> Right Now</h2>
                <p class="second-color my-2">Most watched Movies by days </p>
        
                <div class="brdr w-75 mb-4"> </div>
            </div>
        </div>
        <div *ngFor="let movie of trendingMovies" class="col-md-2">
            <div class="mvie my-2 position-relative">
                <a [routerLink]='["/moviedetails",movie.id]'>

                    <img class="w-100" [src]="imgPrefex+movie.poster_path" [alt]="movie.title">
                    <h3 class="my-2 h6">{{movie.title}}</h3>
                    <div class="vote">
                        {{movie.vote_average}}
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>