<div class="container">
    <div class="row py-5">
        <div class="col-md-4 d-flex align-items-center">
            <div>
                <div class="brdr w-25 mb-4"> </div>
                <h2>Trending peaple to Watch<br> Right Now</h2>
                <p class="second-color my-2">Most watched peaple by days </p>
                <div class="brdr w-75 mb-4"> </div>
            </div>
        </div>
        <div *ngFor="let person of trendingPerson" class="col-md-2">
            <div class="mvie my-2 position-relative">
                <img class="w-100" [src]="imgPrefex+person.profile_path" [alt]="person.name">
                <h3 class="my-2 h6">{{person.name}}</h3>
               
            </div>
        </div>
    </div>
</div>
